body {
    background-color: black;
    color: white;
}

p {
    font-family: Helvetica;
    font-size: 14;
    position: relative;
    
}

section.contact{
    position: absolute;
    right: 0px;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
    color: white;
}

.history{
    position: center;
    right: 0px;
    width: 400px;
    border: 3px solid #73AD21;
    padding: 10px;
    color: white;
}

h4 {
    border-color: blue;
    background-color: blue;
    padding: 5px;
    position: relative;
    

}